.center {
  place-self: center;
}

.grid {
  display: grid;
}

body {
  background-color: #333740;
}

.logoFont {
  font-family: "Albert Sans", sans-serif;
}

.logoPrimary {
  color: #ffffff;
}

.logoSecondary {
  color: #1976d2;
}

.accent {
  color: #ffffff;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-item {
  width: 15%;
  margin: 1em;
}

.center2 {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.middle {
  text-align: center;
}

.hide {
  visibility: hidden;
}
