.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;

}


.accent {
	color : #ffffff;
	background-color: #133157;
	text-align:center;
	font-family: Arial;
	  letter-spacing: 1px;
}

.flex
{
	display :flex;
  justify-content: center;
	
}

.flex-item {
  width: 15%;
  margin: 1em;
}

.center2 {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.middle
{
	text-align:center;
}

.hide {
	visibility: hidden;
}